
RGBAConverter/bin/Debug/RGBAConverter.1.0.0.nupkg
RGBAConverter/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RGBAConverter/obj/Debug/net6.0/ref/RGBAConverter.dll
RGBAConverter/obj/Debug/net6.0/refint/RGBAConverter.dll
RGBAConverter/obj/Debug/net6.0/RGBAConverter.AssemblyInfo.cs
RGBAConverter/obj/Debug/net6.0/RGBAConverter.AssemblyInfoInputs.cache
RGBAConverter/obj/Debug/net6.0/RGBAConverter.assets.cache
RGBAConverter/obj/Debug/net6.0/RGBAConverter.csproj.AssemblyReference.cache
RGBAConverter/obj/Debug/net6.0/RGBAConverter.csproj.CoreCompileInputs.cache
RGBAConverter/obj/Debug/net6.0/RGBAConverter.csproj.FileListAbsolute.txt
RGBAConverter/obj/Debug/net6.0/RGBAConverter.dll
RGBAConverter/obj/Debug/net6.0/RGBAConverter.GeneratedMSBuildEditorConfig.editorconfig
RGBAConverter/obj/Debug/net6.0/RGBAConverter.GlobalUsings.g.cs
RGBAConverter/obj/Debug/net6.0/RGBAConverter.pdb
RGBAConverter/obj/Debug/RGBAConverter.1.0.0.nuspec
RGBAConverter/obj/project.assets.json
RGBAConverter/obj/project.nuget.cache
RGBAConverter/obj/project.packagespec.json
RGBAConverter/obj/RGBAConverter.csproj.nuget.dgspec.json
RGBAConverter/obj/RGBAConverter.csproj.nuget.g.props
RGBAConverter/obj/RGBAConverter.csproj.nuget.g.targets
RGBAConverter/obj/rider.project.model.nuget.info
RGBAConverter/obj/rider.project.restore.info
*.nuspec
*.pdb
*.editorconfig
*.dll
*.cache
*.nupkg
*.xml
*.json
*.txt
RGBAConverter/obj/Release/net6.0/RGBAConverter.GlobalUsings.g.cs
RGBAConverter/obj/Release/net6.0/RGBAConverter.AssemblyInfo.cs
RGBAConverter/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
